{% extends 'base.html' %}

{% block content %}
    <form action="/" method="post">
      <label for="longurl" style="font-size: 1.2em; line-height: 1.6;">Введите ссылку для сокращения: </label>
      <input type="text" id="longurl" name="longurl" style="font-size: 1.2em; line-height: 1.6; height: 30px;">
      <input type="submit" value="Сократить" style="font-size: 1.2em; line-height: 1.6; height: 36px;">
        <div class="mb-3" style="font-size: 1.2em; line-height: 3.0;">
                Короткая ссылка: {{token}}
        </div>
    </form>
{% endblock %}