{% extends 'base.html' %}

{% block content %}
    <form action="/" method="post">
      <label for="longurl" style="font-size: 1.2em; line-height: 1.6;">Введите ссылку для сокращения: </label>
      <input type="text" id="longurl" name="longurl" style="font-size: 1.2em; line-height: 1.6; height: 30px;">
      <input type="submit" value="Сократить" style="font-size: 1.2em; line-height: 1.6; height: 36px;">
        <div class="mb-3" style="font-size: 1.2em; line-height: 3.0;">
                Короткая ссылка: {{short_url}}
        </div>
        <div class="mb-3" style="font-size: 1.2em; line-height: 2.0;">
                QR-код:
        </div>
        <img src="/static/{{token}}.png" width="100" height="100">
    </form>
    <div style="position: fixed; bottom: 20px; left: 20px;">
        <a href="/check">
            <button style="font-size: 1.2em; line-height: 1.6; height: 36px;">Статистика</button>
        </a>
    </div>
{% endblock %}